.align {
  display: flex;
  &.right {
    justify-content: flex-end;
  }
  &.both {
    justify-content: space-between;
  }
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  display: flex;
  box-sizing: border-box;
}
