@mixin position() {
  position: absolute;
  #{$x}: $xvalue;
  #{$y}: $yvalue;

  @if $xvalue == 50% and $yvalue == 50% {
    transform: translate(-50%, -50%);
  } @else if $xvalue == 50% {
    transform: translateX(-50%);
  } @else if $yvalue == 50% {
    transform: translateY(-50%);
  }
}
